#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: grey;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
